# Node modules
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Logs
logs
*.log
*.log.*

# OS-specific files
.DS_Store
Thumbs.db

# Test coverage
coverage/

# VSCode settings
.vscode/

# Environment files
.env
.env.local
.env.*.local

# Jest cache
jest-cache/
jest-results.json

# Chrome extension specific
*.crx
*.pem
